*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img{
    width: 30px;
    height: 30px;
}

.custom-hero{
    padding: 60px!important;
}

.custom-hero h1{
    font-size: 5rem;
}

.row .hero_text span{
    color: #F73322;
}

.row .hero-bg-col{
    background: #262042;
    padding: 40px;
    border-top-left-radius: 145px;
   border-bottom-left-radius: 145px;
      border-top-right-radius: 0; 
      border-bottom-right-radius: 145px;
   
}

.row{
    justify-content: center;
    align-items: center;
}

#about,#home,#contact,#program{
    padding-top: 100px!important;
    padding-bottom: 50px;
}